h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 12px;
    margin: auto;
    color: black;
    
}

span.green {
    color: green;
    background: none;
}

tn {
    margin: auto;
}

.inputhowdoing {
    width: 50%;
    height: 100px;
}

button {
    width: 50%;
    margin-bottom: 60px;
    height: 40px;
}

doggo {
    width: 50%;
    height: 50%;
    margin: auto;
}

body {
    height: 100vh;
    text-align: center;
    background: #fcfff4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
    /* IE6-9 */
}